* {
	padding:0;
	margin:0;
	direction: rtl;
}

@media screen and (min-width:901px){
   
    
body  {
    height: auto;
    min-height: 100%;
    direction: rtl;
    
   
    
}
.header{
direction: rtl;

height: 100px;
width: 100%;
direction: rtl;
}

.con1{
    margin-top: 6%;
    direction: rtl;
}
.country-select{
    margin-top: 20%;
    width: 60%;
    height: 20%;
    border: cornsilk;

color: cornsilk;
direction: rtl;
}.vodiapicker{
   
    margin-top: 20%;
    width: 60%;
    height: 20%;
    border: cornsilk;

color: cornsilk;
direction: rtl;
  }
 
  
.city-select{
    margin-top: 10px;
    width: 60%;
    height: 20%;
    border: cornsilk;
background-color:  rgb(80, 69, 69);
color: cornsilk;
direction: rtl;
}
.accordion {
   display: block;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 40%;
    border-top: burlywood;
    text-align: center;
    outline: none;
    font-size: 30px;
   
  }
  
  .active, .accordion:hover {
    background-color: burlywood;
  }
  .panel {
    padding: 0 18px;
    display: none;
    background-color: darkmagenta;

  }

.btn1{
    margin-top:-10%;
    margin-right: 4px;
    width: 39%;
    height: 21%;
    border: cornsilk;

background-color:  rgb(80, 69, 69);
color: cornsilk;
direction: rtl;
    
}
.lang-select{
    margin-top: 20%;
   
     width: 27%;
     height: 20%;
     border: cornsilk;
 background-color:  rgb(80, 69, 69);
 color: cornsilk; 
 direction: rtl;
}

.search {
    margin-top: -8.5vh;
    height: 40%;
    width: 70%;
    margin-right:20%;
   
}
.searchsubmit{
    margin-top: 20px;
    direction: ltr;
    margin-left:100%;
    height: 17%;
width: 20%;

}



.row{
    background-color: rgba(241, 240, 233, 0.863);
    margin: 5px;
    direction: rtl;
    height:300px;
   
}

    body {font-family: Arial, Helvetica, sans-serif;}
    
    /* Full-width input fields */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
   
    
    /* Extra styles for the cancel button */
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }
    
    /* Center the image and position the close button */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
    }
    
    img.avatar {
      width: 40%;
      border-radius: 50%;
    }
    
    .container {
      padding: 16px;
    }
    
    span.psw {
      float: right;
      padding-top: 16px;
    }
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      padding-top: 60px;
    }
    
    /* Modal Content/Box */
    .modal-content {
      background-color: beige;
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }
    
    /* The Close Button (x) */
    .close {
      position: absolute;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: red;
      cursor: pointer;
    }
    
    /* Add Zoom Animation */
    .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
      from {-webkit-transform: scale(0)} 
      to {-webkit-transform: scale(1)}
    }
      
    @keyframes animatezoom {
      from {transform: scale(0)} 
      to {transform: scale(1)}
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
      span.psw {
         display: block;
         float: none;
      }
      .cancelbtn {
         width: 100%;
      }
    }
.naviga {
    margin-top: 0px;
    display:block;
    list-style:none;
	position:relative;
	padding-left:covere;
    background-color: rgb(75, 68, 68);
    height: 40px;
    direction: rtl;
    border: 2px;
}
#site-navigation{
background-color: rgba(241, 240, 233, 0.863);
height: 160px;
z-index: 170;
margin:  auto;
border-bottom: 1px solid #dadada;
width: 100%;
position: fixed;
top: 0%;
left: 0;
right: 0;
text-align: center;

}

.round {

    color: bisque; 
    padding: 15px;
   
 }
 
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

 
    .myslides{
    margin-top:55vh;
    height: 80%;
    width: 100%;
   
    }
   
    .newest {
        margin-top: 20px;
        margin-left: 20%;
        width:920px;
        float:left;
        height:225px;
      
        background-color: #bbb;
        text-align:center;
        position:relative;
        overflow:hidden;
       
    }
    .newest-wrap {
        width:20000em;
        position:absolute;
    }
    .newest-item {
        width:151px;
        float:left;
        position:relative;
        height:200px;
        border-right:2px solid #ddd;
    
    }
    .newest-item:hover {
        background:#bbb url(images/newest-bg.png) repeat-x top left;
        
    }
    .newest-desc {
        font-size:0.85em;
        margin:0 5px;
        
    }
    .newest-img {
        margin:5px;
        
    
    }
    .newest-img a {
        display:block;
    }
    .newest-item .add-cart {
        position:absolute;
        bottom:7px;
        left:22px;
    }
    #newest .left {
        left:-6px;
        top:85px;
    }
    #newest .right {
        right:4px;
        top:85px;
    }
    .first1{
        margin-top: 7px;
        margin-left: 170px;
        border: cornsilk;
    background-color:  rgb(80, 69, 69);
    color: cornsilk; 
    
    }
    
    .first2{
        margin-top: 7px;
        margin-left: 40px;
        border: cornsilk;
    background-color:  rgb(80, 69, 69);
    color: cornsilk; 
    
    }
    .first3{
        margin-top: 7px;
        margin-left: 40px;
        border: cornsilk;
    background-color:  rgb(80, 69, 69);
    color: cornsilk; 
    
    }
    
    .first4{
        margin-top: 7px;
        margin-left: 40%;
        border: cornsilk;
    background-color:  rgb(80, 69, 69);
    color: cornsilk; 
    
    }
.do{
  
  margin-left: 0px;
}
.img{

margin-top: auto;
width: 100%;
left: 0;
right: 0;

}


}

@media screen and (min-width:728px){
    
    
body  {
    height: auto;
    min-height: 100%;
    direction: rtl;
}
.header{
direction: rtl;

height: 100px;
width: 100%;
direction: rtl;
}

.con1{
    margin-top: 6%;
    direction: rtl;
}
.country-select{
    margin-top: 20%;
    width: 60%;
    height: 20%;
    border: cornsilk;

color: cornsilk;
direction: rtl;
}.vodiapicker{
   
    margin-top: 20%;
    width: 60%;
    height: 20%;
    border: cornsilk;

color: cornsilk;
direction: rtl;
  }
 
  
.city-select{
    margin-top: 10px;
    width: 60%;
    height: 20%;
    border: cornsilk;
background-color:  rgb(80, 69, 69);
color: cornsilk;
direction: rtl;
}
.accordion {
   display: block;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 40%;
    border-top: burlywood;
    text-align: center;
    outline: none;
    font-size: 30px;
   
  }
  
  .active, .accordion:hover {
    background-color: burlywood;
  }
  .panel {
    padding: 0 18px;
    display: none;
    background-color: darkmagenta;

  }

.btn1{
    margin-top:-10%;
    margin-right: 4px;
    width: 39%;
    height: 21%;
    border: cornsilk;

background-color:  rgb(80, 69, 69);
color: cornsilk;
direction: rtl;
    
}
.lang-select{
    margin-top: 20%;
   
     width: 27%;
     height: 20%;
     border: cornsilk;
 background-color:  rgb(80, 69, 69);
 color: cornsilk; 
 direction: rtl;
}

.search {
    margin-top: -8.5vh;
    height: 40%;
    width: 70%;
    margin-right:20%;
   
}
.searchsubmit{
    margin-top: 20px;
    direction: ltr;
    margin-left:100%;
    height: 17%;
width: 20%;

}



.row{
    background-color: rgba(241, 240, 233, 0.863);
    margin: 5px;
    direction: rtl;
    height:300px;
   
}

    body {font-family: Arial, Helvetica, sans-serif;}
    
    /* Full-width input fields */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
   
    
    /* Extra styles for the cancel button */
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }
    
    /* Center the image and position the close button */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
    }
    
    img.avatar {
      width: 40%;
      border-radius: 50%;
    }
    
    .container {
      padding: 16px;
    }
    
    span.psw {
      float: right;
      padding-top: 16px;
    }
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      padding-top: 60px;
    }
    
    /* Modal Content/Box */
    .modal-content {
      background-color: beige;
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }
    
    /* The Close Button (x) */
    .close {
      position: absolute;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: red;
      cursor: pointer;
    }
    
    /* Add Zoom Animation */
    .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
      from {-webkit-transform: scale(0)} 
      to {-webkit-transform: scale(1)}
    }
      
    @keyframes animatezoom {
      from {transform: scale(0)} 
      to {transform: scale(1)}
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
      span.psw {
         display: block;
         float: none;
      }
      .cancelbtn {
         width: 100%;
      }
    }
.naviga {
    margin-top: 0px;
    display:block;
    list-style:none;
	position:relative;
	padding-left:covere;
    background-color: rgb(75, 68, 68);
    height: 40px;
    direction: rtl;
    border: 2px;
}
#site-navigation{
background-color: rgba(241, 240, 233, 0.863);
height: 160px;
z-index: 170;
margin:  auto;
border-bottom: 1px solid #dadada;
width: 100%;
position: fixed;
top: 0%;
left: 0;
right: 0;
text-align: center;

}

.round {

    color: bisque; 
    padding: 15px;
   
 }
 
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

 
    .myslides{
    margin-top:55vh;
    height: 80%;
    width: 100%;
   
    }
   
    .newest {
        margin-top: 20px;
        margin-left: 20%;
        width:920px;
        float:left;
        height:225px;
      
        background-color: #bbb;
        text-align:center;
        position:relative;
        overflow:hidden;
       
    }
    .newest-wrap {
        width:20000em;
        position:absolute;
    }
    .newest-item {
        width:151px;
        float:left;
        position:relative;
        height:200px;
        border-right:2px solid #ddd;
    
    }
    .newest-item:hover {
        background:#bbb url(images/newest-bg.png) repeat-x top left;
        
    }
    .newest-desc {
        font-size:0.85em;
        margin:0 5px;
        
    }
    .newest-img {
        margin:5px;
        
    
    }
    .newest-img a {
        display:block;
    }
    .newest-item .add-cart {
        position:absolute;
        bottom:7px;
        left:22px;
    }
    #newest .left {
        left:-6px;
        top:85px;
    }
    #newest .right {
        right:4px;
        top:85px;
    }
    
.do{
  
  margin-left: 0px;
}
.img{

margin-top: auto;
width: 100%;
left: 0;
right: 0;

}


}
